// Styles typographiques

/* Fonts to use in the site */
$font-heading: "Judson", serif;
$font-subheading: "Martel", serif;
$font-body: "Open Sans", sans-serif;

/* Weights for the text */
$bold: 700;
$normal: 400;

