// Accuiel 

#Presentation {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%; // 2 colonnes : 1 pour l'image, 1 pour les titres
  grid-template-rows: 0% 100%;
  background: $color-secondary;


  h1 {
    visibility: hidden;
    margin: -15vh;
    grid-column: span 2;
    justify-self: center;
   
  }
  .Presentation {
    align-content: right;
    padding: 25%;

    h2 {
      text-align: center;
      padding: 5vh 1vw 3vh;
      border-bottom-left-radius: 2.5em;
      border-bottom-right-radius: 2.5em;
    }

    p {
      text-align: justify;
      text-align-last: center;
      padding: 5vh 1vw 3vh;
      border-bottom-left-radius: 2.5em;
      border-bottom-right-radius: 2.5em;
  }
  }
}

  
  }
  

  