// Accuiel 

#Presentation {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; // 2 colonnes : 1 pour l'image, 1 pour les titres
  grid-template-rows: auto;
  background: $color-secondary;


  h1 {
    visibility: hidden;
    margin: -15vh;
    grid-column: span 2;
    justify-self: center;
   
  }
  .Presentation {
    align-content: end;
    padding: 25%;

    h2 {
      text-align: center;
      padding: 5vh 1vw 3vh;
      border-bottom-left-radius: 2.5em;
      border-bottom-right-radius: 2.5em;
    }

    p {
      text-align: justify;
      text-align-last: center;
      padding: 5vh 1vw 3vh;
      border-bottom-left-radius: 2.5em;
      border-bottom-right-radius: 2.5em;
  }
  }
}

  .illustration-presentation {
    display: flex;
    justify-content: center; // pour centrer l’image horizontalement
  
    img {
      border: 5px solid white;
      width: 100%; // ajuste selon tes besoins
      height: auto; // conserve les proportions naturelles
    }
  }
  

#studio {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%; // 2 colonnes : 1 pour l'image, 1 pour les titres
    grid-template-rows: 0% 100%;
    background: $color-third;
  
    .illustration-studio {
      display: flex;
      justify-content: center; // pour centrer l’image horizontalement
    
      img {
        border: 5px solid white;
        width: 100%; // ajuste selon tes besoins
        height: auto; // conserve les proportions naturelles
      }
    }

    h1 {
      visibility: hidden;
      margin: -15vh;
      grid-column: span 2;
      justify-self: center;
     
    }
    .Presentation-studio {
      align-content: right;
      padding: 25%;
  
      h2 {
        text-align: center;
        padding: 5vh 1vw 3vh;
        border-bottom-left-radius: 2.5em;
        border-bottom-right-radius: 2.5em;
      }
  
      p {
        text-align: justify;
        text-align-last: center;
        padding: 5vh 1vw 3vh;
        border-bottom-left-radius: 2.5em;
        border-bottom-right-radius: 2.5em;
      }
    }
}
  
#experience-competence {
  padding: 5rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* box container  h1 et h2 */
.titre-container {
  background-color: #fce4ec; 
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.titre-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  
}

.titre-container h2 {
  font-size: 1.2rem;
  color: #ad1457;
}
