// Footer

footer {
  background-color: $color-secondary;
  padding: 2rem;
  display: grid;
  grid-template-areas:
    "social logo contact"
    "social logo horaires"
    "copyright copyright copyright";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  text-align: center;

  @media screen and (max-width: 768px) {
    grid-template-areas:
      "logo"
      "social"
      "contact"
      "horaires"
      "copyright";
    grid-template-columns: 1fr;
  }

}