// Header
header {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr; // Logo à gauche, nav à droite
    align-items: center;
    font-family: $font-main;
    background: $color-primary;
    padding: 1rem 2rem; // Ajout d’un peu de padding horizontal

    .logo {
        img {
            width: 600px; // Ajustable selon ton besoin
            max-height: 100px;
            object-fit: contain;
        }
    }

    nav {
        justify-self: center; // Aligne le nav à droite
        ul {
            display: flex;
            gap: 2rem;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            a {
                font-weight: bold;         
                font-size: 1.2rem;           
                font-family: 'Martel', sans-serif;
                color: #090B0A;
                text-decoration: none;
            }
        }
    }

}